// main: style.scss
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: border-box;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid rgba(39, 48, 57, 0.2);
    border-radius: 3px;
    background: rgba(39, 48, 57, 0.05);
    color: rgba(39, 48, 57, 0.8);
    line-height: 1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 11px 15px;
    font-size: 1em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: rgba(39, 48, 57, 0.25);
    background: rgba(39, 48, 57, 0.1);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="search"],
textarea,
select {
    color: rgba(39, 48, 57, 0.8);
    border-radius: 3px;
    border: 1px solid rgba(39, 48, 57, 0.25);
    min-width: 60%;
    max-width: 100%;
    padding: 5px 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
    outline: none;
    border-color: rgba(39, 48, 57, 0.5);
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn.button-theme {
    padding: 8px 20px;
    padding: 0.5rem 1.25rem;
    text-transform: uppercase;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.8em;
}
.btn.button-theme {
    background: #42caad;
    color: #FFFFFF;
}
.btn.button-theme:hover {
    background: #757575;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 40px;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.sticky article {
    display: block;
    border: 2px solid #fa7921 !important;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
.grid-child-pages {
    margin-top: 40px;
}

.entry-content {
    &::before {
        content: "";
        display: table;
        table-layout: fixed;
    }

    &::after {
        content: "";
        display: table;
        table-layout: fixed;
        clear: both;
    }
}

.entry-footer {
    span {
        margin-right: 7px;
        display: block;
    }
}

.wp-block-cover {
    margin-bottom: 30px;
    .wp-block-cover-text {
        color: #fff;
    }
}


/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.comment-content p {
    margin-bottom: 10px;
}

.bypostauthor {
    display: block;
}

.comment-list,
.comment-list ol,
.comment-list ol ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-list ol,
.comment-list ol ol {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
}

.comment-list li {
    padding: 10px 10px 0;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.comment-list ol li,
.comment-list ol ol li {
    border: 0;
    border-top: 1px solid #e5e5e5;
    background: #fdfdfd;
}

.comment-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.comment-list .reply {
    padding-bottom: 10px;
    text-align: right;
}

.comment-form label {
    min-width: 90px;
}

.form-submit {
    margin-left: 94px;
}

.comment-reply-title {
    #cancel-comment-reply-link {
        margin-left: 7px;
    }
}

@media screen and (max-width: 480px) {
    .form-submit {
        margin-left: 0;
        text-align: center;
    }
}

.comment-author img {
    margin: 0 10px 10px 0;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
.gallery-more {
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Default
--------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    background: #f3f4f6;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.04em;
    color: rgba(39, 48, 57, 0.85);
}
.transition-bg {
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.transition5 {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.transition35,
a,
.dt-main-menu li a,
.dt-main-menu li ul,
.menu-item-has-children {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

h1,
h2,
h3,
h4 {
    line-height: 1.6em;
}

ul,
ol {
    margin: 0;
    padding-left: 22px;
}

p {
    margin-bottom: 30px;
    line-height: 1.8em;
}

a {
    outline: none;
    text-decoration: none !important;
    color: rgba(39, 48, 57, 0.85);
}

a:hover {
    color: #fa7921;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgba(39, 48, 57, 0.085);
}

table {
    border-right: 0;
    border-bottom: 0;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 600;
}

th,
td {
    padding: 6px 0;
    text-align: center;
}

td {
    border-width: 0 1px 1px 0;
}

#primary {
    margin-top: 60px;
}

#secondary {
    margin-top: 60px;
}

#primary li,
#secondary li {
    margin: 10px 0;
}

#secondary .widget {
    background: #fff;
    padding: 20px 25px;
    border: 1px solid rgba(39, 48, 57, 0.08);
    box-shadow: 0 0 5px rgba(39, 48, 57, 0.05);
}

.dt-content-area {
    background: #fff;
    padding: 10px 25px 0;
    border: 1px solid rgba(39, 48, 57, 0.08);
    box-shadow: 0 0 5px rgba(39, 48, 57, 0.05);
}
